/* You can add global styles to this file, and also import other style files */

.m-2{
    margin: 2px;
}

.mt-50{
    margin-top: 50px;
}

.mt-30{
    margin-top: 30px;
}




body{
    // background-color: #D3D3D3 !important;
    background-color: #fff !important;
}

/* CSS */
.btn-primary {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;

}

.ml-5{
    margin-left: 20px;
}



  

